*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: aqua;
    height: 200px;
    display: grid;
    grid-template-columns:100px 1fr 1fr 100px;
grid-template-rows:30px 1fr 30px ;
    gap:5px;
}
.box{
    background-color: rgb(52, 165, 42);
    /* height: 20px;
    width: 70px; */
}
#box1{
    grid-column-start: 1;
    grid-column-end: 5;
}
#box3{
  grid-column-start: 2;
  grid-column-end: 4;
}
#box4{
    grid-column-start: 1;
    grid-column-end: 5;
}