*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: aqua;
    height: 200px;
    display: grid;
    grid-template-columns:100px repeat(2,1fr) 50px;
    /* grid-template-columns:repeat(4,1fr); */
    grid-template-rows: 50px 60px;
/* grid-template-rows: repeat(2,1fr); */
    /* gap:100px; */
}
.box{
    background-color: brown;
    height: 20px;
    width: 70px;
}
#box1{
    grid-column-start: 1;
    grid-column-end: 3;
}