*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    min-height:100vh;
    max-height: 100%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(10deg,rgb(185, 140, 228),rgb(199, 205, 138), rgb(229, 206, 206),rgb(185, 140, 228));
    padding-left: 10px;
}
a{
    text-decoration: none;
}
.box:hover{
    background-color: aquamarine;
}
.box:focus-visible{
    background-color: rgb(34, 16, 195);
}