*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 30px;
}
.btn{
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid;
    background-color:sandybrown;
    padding: 5px;
}
img{
    height: 300px;
    width: 250px;
    border-radius: 10px;
    box-shadow:rgba(111, 93, 200, 0.505) 0px 10px 15px;
}
body{
    background-color: aquamarine;
}
.btn:hover{
    border: 2px solid rgb(0, 81, 255);
}
#span{
    color: blue;
    text-shadow:rgba(176, 29, 29, 0.505) 3px 10px 15px;
}
