.box{
    margin-top: 50vw;
    margin-left: 50vw;
    background-color: aqua;
    transform: translate(10px,20px);
    transform: rotate(45deg);
    transform: scale(2,2);
    transform: skew(60deg);
    transform: matrix(4,1,0,7,0,0);

}